{% extends "bootstrap/base.html" %}
{% block title %}stones{% endblock %}
{%- block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='css/main.css') }}'" rel="stylesheet" media="screen">
{%- endblock styles %}
{% block navbar %}
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Stones Logo</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('service') }}">Services</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
    {% block page_content %}


    {% endblock %}


<div class="footer navbar navbar-default navbar-fixed-bottom" >
    <div class = "container">
        <center></center><p> &copy; Copyright Stone 2014. -Powered by Ventum11</p>
    </div>

{% endblock %}

</div>
