{% extends "bootstrap/base.html" %}

{% block title %}


{% endblock %}


{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle"
data-toggle="collapse" data-target=".navbar-collapse">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
</div>
<div class="navbar-collapse collapse navHeaderCollapse">
<ul class="nav navbar-nav navbar-right">
  <li class="active"><a href="/">Ahabanza</a></li>
  <li><a href="/">Amasomo</a></li>
  <li ><a href="#">Twandikire</a></li>
</ul>
</div>
</div>
</div>
{% endblock %}
{% block content %}
<div class="container">
<div class="page-header">

</div>
</div>
{% endblock %}

{% block page_content %}


{% endblock %}






