{% extends "bootstrap/base.html" %}

{% block title %}Stones{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{url_for('home')}}">Stones</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">About Us</a></li>
                <li><a href="{{url_for('contact')}}">Contact</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false">Administration <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="remote_files">remote files</a></li>
                        <!--<li><a href="#">Another action</a></li>-->
                        <!--<li><a href="#">Something else here</a></li>-->
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>

            <p class="navbar-text navbar-center">
                Hello <a href="#" class="navbar-link">{{ session.get('name','Stranger')}}</a>
            </p>
            <a href='/logout' class="navbar-right"><div class="glyphicon glyphicon-log-out "></div></a>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
{% endblock %}

{% block content %}
<div class="container contents">
    {% for category,message in get_flashed_messages(with_categories=true) %}
    <div class="alert {{ category }}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% block page_content %}
    {% endblock %}
</div>

{% block footer %}
<div class="container-fluid stones-footer stones-default">
    <div class="container">
        my footer goes here
    </div>
</div>
{% endblock %}
{% endblock %}


{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='js/main.js')}}}}"></script>
{% endblock %}