{% extends "base.html" %}

{% block title %}
Index
{% endblock %}

{% block content %}
<div class="container">
<div class="page-header">
<h2>Welcome to Technical School</h2>
</div>
<div class="row">
  <div class="col-md-6"><h1>Ubuyobozi bw'Ishuri</h1></div>
  <div class="col-md-6"></div>
</div>
<div class="row">
  <div class="col-md-4"><img src="static/images/photo1.jpg"/></div>
  <div class="col-md-8"><p>Isomo Blog ni Blog y'ishuri rikuru  ryigisha ikoranabunga rya Mudasobwa.</p>
                    <p>Iri shuri ryatangiwe mu mwaka wa 2014 mu rwego rwo gufasha urubyiruko rurangije amashuri yisumbuye mu kongera ubumenyi bwabo mu biryanye na Mudasobwa, bikaba byabafasha kwihangira imirimo mu rwego rwo gutegura imbere yabo heza.</p>
<p>Umunyamabanga mukuru w’Umuryango w’Abibumbye Ban Ki-moon yagize Romain Murenzi wigeze kuba Minisitiri w’Uburezi mu Rwanda, ukuriye Inama y’ikirenga ya Loni itanga ubujyanama mu mishinga y’ikoranabuhanga iteza imbere ibihugu bikiri mu nzira y’Amajyambere ku wa 26 Ugushyingo.</p>
<p>Murenzi wagizwe umuyobozi w’iyi nama itanga ubujyanama mu ikoranabuhanga riteza imbere ibihugu bikiri mu nzira y’amajyambere, yari asanzwe ari n’Umuyobozi w’Umuryango Mpuzamahanga w’ Abashakashatsi mu bumenyi n’ikoranabuhanga ukorera i Trieste mu Butaliyani.</p>
<p>Iyi nama ikuriwe na Romain Murenzi igizwe n’abantu icumi (abagabo 5 n’abagore 5) bo mu bihugu bikiri mu nzira y’Amajyambere, bafite ubunararibonye mu bumenyi n’ikoranabuhanga.</p>
<p>Barimo Mohamed H.A. Hassan wo muri Sudan, Bruce Lehman, Tebello Nyokong, Dorte Olesen, Posh Raj Pandey, Michèle Duvivier, Pierre-Louis, Firdausi Qadri, Fang Xin, Hakan Karatas, na Gyan Chandra Acharya.

Aba bose bayobora ibigo bikora ubushakashatsi mu ikoranabuhanga mu bihugu byinshi biri mu nzira y’amajyambere, abandi ni abarimu n’abashakashatsi muri za kaminuza zikomeye ku isi.

Bahawe inshingano n’umunyamabanga mukuru wa Loni, ashingiye ku myanzuro y’inteko rusange ya 68 y’umuryango w’abibumbye yemeje ishyirwaho ry’iyi nama yo mu rwego rwo hejuru.</p>

<p>Muri izo nshingano harimo gutegura ibikorwa bifatika byafasha kwihutisha iterambere rirambye mu bihugu bikiri mu nzira y’amajyambere. Ninayo iziga uburyo n’ishyirwa mu bikorwa ry’imishinga yemejwe, inagene inzego z’imiyoborere yayo kugeza ku rwego rwa Loni.

Iyi nama yashyizweho iteganya guhura bwa mbere muri Gashyantare umwaka utaha, ikazajya ishyikiriza imyanzuro ubunyamabanga bw’Umuryango w’Abibumbye.

Romain Murenzi uyoboye iyi nama, mu bihe bishize yabaye Minisitiri w’Uburezi mu Rwanda, uba umujyanama wa Perezida mu by’ikoranabuhanga.

Yabaye kandi n’umwarimu muri za kaminuza zikomeye mu bihugu bitandukanye ku Isi, akagira ubunararibonye mu masomo y’ubumenyi n’ikoranabuhanga.</p>

</div>
</div>
</div>


<div class="footer">
<p class="navbar-button btn-danger btn pull-middle">Copyright © Isomo Blog</p>
</div>
{% endblock %}

