<html>
  <head>
    <title>Bootstrap intro</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <style>
     .row {
       margin-bottom: 20px;
     }
     
     .colorizer {
       background: blue;
       color: white;
     }
    </style>
  </head>

  <body>

    <!-- Our first row in bootstrap -->
    <div class="row">
      <div class="col-sm-3"><div class="colorizer">First column</div></div>
      <div class="col-sm-3">Second column</div>
      <div class="col-sm-3"><div class="colorizer">Third column</div></div>
      <div class="col-sm-3">Fourth column</div>      
    </div>

    <div class="row">
      <div class="col-sm-6"><div class="colorizer">First column</div></div>
      <div class="col-sm-6">Second column</div>
    </div>

    <div class="row">
      <div class="span-4"><img src="http://www.chartsinfrance.net/style/breves/8/photo_1381831070.jpg" width="248"></div>
      <div class="col-sm-8">
        Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.
      </div>
    </div>

    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
