{% extends "base.html" %}

{% block page_content %}
<h1>Welcome to my Site!</h1>
        <!--<br/><h1>God is love</h1><br/>-->
        <!--<br/><h1>God is love</h1><br/>-->
        <!--<br/><h1>God is love</h1><br/>-->
        <!--<br/><h1>God is love</h1><br/>-->
        <!--<br/><h1>God is love</h1><br/>-->
        <!--<br/><h1>God is love</h1><br/>-->
        <!--<br/><h1>God is love</h1><br/>-->
        <!--<br/><h1>God is love</h1><br/>-->
        <!--<br/><h1>God is love</h1><br/>-->
        <!--<br/><h1>God is love</h1><br/>-->
        <!--<br/><h1>God is love</h1><br/>-->
{% endblock %}