html, body {
    height: 100%;
}

.contents {
    min-height: 100%;
    margin-top: -70px;
    padding-top: 70px;
    margin-bottom: -100px;
    padding-bottom: 100px;
}

.stones-footer {
    padding: 10px 15px;
    min-height: 100px;
}

.stones-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}    

